// Login page component styles

.title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.sub__title {
    margin-bottom: 30px;
}

.login__form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.content {
    text-align: center;
}