body {
  position: relative;
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  line-height: 1.2;
  color: rgb(68, 64, 60);
}

button {
  font-family: Roboto Mono, monospace;
  border: 0;
  padding: 10px 15px;
  margin: 0px 4px;
  background-color: rgb(234, 179, 8);
  font-size: 16px;
  border-radius: .75rem;
  cursor: pointer;
}

input {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid rgb(231 229 228);
}

input:focus {
  outline: 1px solid rgb(234, 179, 8);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(234, 179, 8);
  padding: 15px 20px ;
}

.active {
  background-color: #eaa208;
}
