body {
  position: relative;
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  line-height: 1.2;
  color: rgb(68, 64, 60);
}

/* .text-yellow {
  color: rgb(234 179 8);
} */

/* added 4px left-right margin */
button {
  font-family: Roboto Mono, monospace;
  border: 0;
  padding: 10px 15px;
  margin: 0px 4px;
  background-color: rgb(234, 179, 8);
  font-size: 16px;
  border-radius: .75rem;
  cursor: pointer;
}

input {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid rgb(231 229 228);
}

input:focus {
  outline: 1px solid rgb(234, 179, 8);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* .logo {
  text-decoration: none;
  font-size: 20px;
  color: rgb(68, 64, 60);
} */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(234, 179, 8);
  padding: 15px 20px ;
}

/* .username__input {
  font-size: .875rem;
  line-height: 1.25rem;
  border-radius: .375rem;
}

.username__input--header {
  background-color: #FEF08A;
}

.header__username {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 600;
} */

.content {
  text-align: center;
}

/* .title {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.sub-title {
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
} */

/* menu__list styles */
/* .menu__list {
  margin-top: 100px;
  margin-bottom: 50px;
} */

/* nav styles */
/* .header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.header__nav .item:not(:last-child) {
  margin-right: 10px;
}

.header__nav .link {
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav .link:hover,
.header__nav .link:focus {
  background-color: #ea9008;
} */

/* NavLink active class styles */
.active {
  background-color: #eaa208;
}

/* form styles */

/* .form {
  display: flex;
  flex-direction: column;
  max-width: 620px;
}

.form-title {
  margin-bottom: 26px;
  font-size: 20px;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.form-field__input {
  width: 470px;
  margin-left: 40px;
}

.form-accepting {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 26px;
}

.form-accepting__description {
  margin-left: 10px;
}

.form-submit {
    margin-right: auto;
    padding: 16px 24px;
    line-height: 1.25rem;
    border-radius: .75rem;

    font-weight: 600;
    font-size: .875rem;
    text-transform: uppercase;
    background-color: #EAB308;
}

.error-notification {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
} */

/* footer sticky cart styles */

.sticky__footer {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 24px;

  background-color: #292524;
}

.footer__items {
  display: flex;
  align-items: center;
}

.footer__item {
  color: #D6D3D1;
  text-transform: uppercase;
}

.footer__item--price {
  margin: 0px 0px 0px 24px;
}

.footer__item--link {
  text-decoration: none;
}

/* cart page styles */

/* .cart {
  width: 768px;
  padding: 12px 16px;
}

.menu__link {
  font-size: .875rem;
  line-height: 1.25rem;
  color: #2563EB;
  text-decoration: none;
}

.cart__title {
  margin-top: 28px;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.cart__list {
  margin-top: 12px;
}

.cart__product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
}

.cart__navigation {
  margin-top: 24px;
} */

/* .order__link {
  padding: 16px 24px;
  line-height: 1.25rem;
  border-radius: .75rem;

  font-weight: 600;
  font-size: .875rem;
  text-transform: uppercase;
  background-color: #EAB308;
  text-decoration: none;
} */

/* .cart__empty {
  margin-top: 16px;
  text-align: center;

  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #44403C;
} */

/* user order page styles */

/* .order {
  width: 768px;
  padding: 24px 16px;
}

.order__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .5rem;
} */

/* .order__title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #44403C;
}

.order__tracking {
  padding: 4px 12px;
  border-radius: .5rem;

  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;

  color: #F0FDF4;
} */

/* .order__tracking--status {
  margin-left: 8px;
    background-color: #22C55E;
}

.order__tracking--priority {
  background-color: #EF4444;
} */

/* .delivery__title {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.delivery__time {
  font-size: .75rem;
  line-height: 1rem;
  color: #78716C;
}

.order__delivery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .5rem;
  
  margin-top: 32px;
  padding: 6px 10px;
  border-radius: .5rem;
  
  background-color: #E7E5E4;
} */

/* .order__list {
  margin-top: 32px;
} */

/* .product__price {
  font-weight: 700;
} */

/* .order__product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .5rem;

  padding: 6px 10px;
  border-radius: .5rem;

  background-color: #E7E5E4;
} */

/* .order__product:not(:first-child) {
  margin-top: 10px;
} */

/* .order__price {
  margin-top: 32px;
  padding: 20px 24px;
  border-radius: .5rem;

  background-color: #E7E5E4;
} */

/* .price__pizza {
  font-size: .875rem;
  line-height: 1.25rem;
  color: #57534E;
}

.price__priority {
  font-size: .875rem;
  line-height: 1.25rem;
  color: #57534E;
}

.price__pizza--delivery {
  font-weight: 700;
  margin-top: 8px;
} */