// Order page component styles
$primary-color: #EAB308;

.form {
    display: flex;
    flex-direction: column;
    max-width: 620px;

    &__title {
        margin-bottom: 26px;
        font-size: 20px;
    }

    &__field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    &__input {
        width: 470px;
        margin-left: 40px;
    }

    &__accepting {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 26px;
    }

    &__submit {
        margin-right: auto;
        padding: 16px 24px;
        line-height: 1.25rem;
        border-radius: .75rem;
            
        font-weight: 600;
        font-size: .875rem;
        text-transform: uppercase;
        background-color: $primary-color;
    }
}

.accepting__description {
    margin-left: 10px;
}

.error__notification {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}