// Order page component styles

.form {
    display: flex;
    flex-direction: column;
    max-width: 620px;
}

.form__title {
    margin-bottom: 26px;
    font-size: 20px;
}

.form__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.form__input {
    width: 470px;
    margin-left: 40px;
}

.form__accepting {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}

.accepting__description {
    margin-left: 10px;
}

.form__submit {
    margin-right: auto;
    padding: 16px 24px;
    line-height: 1.25rem;
    border-radius: .75rem;

    font-weight: 600;
    font-size: .875rem;
    text-transform: uppercase;
    background-color: #EAB308;
}

.error__notification {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}