// Order page component styles
$primary-bg-color: #EAB308;

.cart {
    width: 768px;
    padding: 12px 16px;

    &__title {
        margin-top: 28px;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    &__list {
        margin-top: 12px;
    }

    &__product {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0px;
    }

    &__navigation {
        margin-top: 24px;
    }

    &__empty {
        margin-top: 16px;
        text-align: center;
        
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: #44403C;
    }
}

.menu__link {
    font-size: .875rem;
    line-height: 1.25rem;
    color: #2563EB;
    text-decoration: none;
}

.order__link {
    padding: 16px 24px;
    line-height: 1.25rem;
    border-radius: .75rem;

    font-weight: 600;
    font-size: .875rem;
    text-transform: uppercase;
    background-color: $primary-bg-color;
    text-decoration: none;
}