.pizza {
  display: flex;
  gap: 16px;
  padding: 8px 0;
}

.pizza__image {
  width: 100px;
  height: 100px;
}

.pizza__info {
  display: flex;
  flex-direction: column;
}

.pizza__name { 
  font-weight: 500;
}

.pizza__ingredients {
  font-style: italic;
  margin-bottom: 10px;
}

.pizza__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.pizza__price {
  font-size: 14px;
}

/* menu counter styles */
.counter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.counter__items {
  display: flex;
  align-items: center;
}

.counter__button {
  margin-left: 10px;
  margin-right: 10px;
}