// Header component styles

.header__username {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.username__input {
    font-size: .875rem;
    line-height: 1.25rem;
    border-radius: .375rem;
}

.input__header {
    background-color: #FEF08A;
}

.logo {
    text-decoration: none;
    font-size: 20px;
    color: rgb(68, 64, 60);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;

    &__link {
        padding: 10px 20px;
        border-radius: 10px;
        text-decoration: none;
        
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.navigation__item:not(:last-child) {
    margin-right: 10px;
}

.navigation__ayaya {
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
            
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #ea9008;
    }
}